.customer-info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-input {
  border: 1px solid #ff6347;
  border-radius: 6px;
  color: #ff6347;
}

.customer-input:focus {
  outline: none;
  border-color: #e0523a;
  box-shadow: 0 0 5px rgba(255, 99, 71, 0.5);
}
