.select-date-input {
  width: 100%;
  color: white;
  border: 1px solid tomato;
  border-radius: 6px;
  background-color: rgba(204, 16, 16, 0.262);
  font-weight: bold;
  text-align: center;
}

.select-date-input::placeholder  {
  width: 100%;
  color: white;
}

.select-date-input:focus {
  outline: none;
  border-color: tomato;
  box-shadow: 0 0 5px rgba(255, 99, 71, 0.5);
}

.select-date-result {
  margin-top: 15px;
  color: white;
  font-weight: bold;
}

.react-datepicker {
  background-color: #1e1e1e !important; /* full calendar background */
  border: 1px solid #444 !important;
  color: white !important;
}

.react-datepicker__header {
  background-color: #333 !important;
  border-bottom: 1px solid #555 !important;
  color: white !important;
}

.react-datepicker__current-month {
  color: #ff9800 !important;
}

.react-datepicker__day {
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: #555 !important;
  color: tomato !important;
}

.react-datepicker__day--selected {
  background-color: #ff9800 !important;
  color: black !important;
}

.react-datepicker__navigation-icon::before {
  border-color: #ff9800 !important;
}

.react-datepicker__month-select,
.react-datepicker__year-select {
  background-color: #333 !important;
  color: white !important;
  border: 1px solid #555 !important;
}
