.btn {
  background-color: rgba(204, 16, 16, 0.262);
  border-color: #ff6347;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
}

.btn:hover {
  background-color: #e0523a;
  border-color: #e0523a;
}

.bm-page {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.bm-card {
  background-color: rgba(42, 23, 23, 0.262);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.bm-title {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ff6347; /* tomato red */
}

.bm-form {
  display: flex;
  gap: 10px;
  flex-direction: column; /* stacked layout for better centering */
  align-items: center;
}